/* reset CSS */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, giheader, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  /* 1em = 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
	font-family: "Barlow", Helvetica, sans-serif;
}

/* common */
:root {
  --primary-color: rgba(26, 26, 46, 1);
  --secondary-color: rgba(22, 33, 62, 1);
  --ligher-color: rgba(15, 52, 96, 1);
  --red-color: rgba(233, 69, 96, 1);
  --section-title: rgba(26, 26, 46, 1);
  --sub-section-title: rgba(22, 33, 62, 1);
}
.dark-theme {
  --dark-theme: #282A36;
  /* --secondary-color: rgb(40, 167, 183); */
  --secondary-color: rgb(28, 195, 215);
  --ligher-color: rgb(83, 38, 116);
  --section-title: rgba(233, 69, 96, 1);
  --sub-section-title: rgb(40, 167, 183);
  --paragraph-color: #dedede;
  background-color: var(--dark-theme);
  color: #dedede;
}


section:nth-child(3) {
  margin-top: -5rem;
  padding: 8rem 30px;
}

section:nth-child(n+4) {
  margin-top: -12rem;
  padding: 8rem 30px;
}


.section-title {
  text-align: center;
  font-size: 3rem;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--section-title);
  position: relative;
}

.section-title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: var(--ligher-color);
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
}

.section-title::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 6px;
  background-color: var(--red-color);
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 9px;
}

#more {
  display: none;
}

.readmore-btn {
  font-family: "Barlow", Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  border: none;
  background-color: transparent;
  color: var(--red-color);
  font-style: italic;
  text-decoration: underline;
}

.readmore-btn:hover {
  font-weight: 500;
  color: var(--red-color);
  cursor: pointer;
}


/* loading page */
.outer {
  width: 6rem;
  height: 6rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.outer div {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid #FCFFA6;
  border-radius: 10px;
}

.outer div:nth-child(1) {
  animation: a1 2s ease-in-out infinite;
}

.outer div:nth-child(2) {
  animation: a2 2s ease-in-out infinite;
}

.outer div:nth-child(3) {
  animation: a3 2s ease-in-out infinite;
}

.outer div:nth-child(4) {
  animation: a4 2s ease-in-out infinite;
}

@keyframes a1 {
  50% {transform: translateX(-100%) rotate(90deg); border-color: #C1FFD7}
  100% {transform: translateX(0) rotate(180deg);}
}
@keyframes a2 {
  50% {transform: translateY(100%) rotate(90deg); border-color: #F037A5}
  100% {transform: translateY(0) rotate(180deg);}
}
@keyframes a3 {
  50% {transform: translateX(100%) rotate(90deg); border-color: #CAB8FF}
  100% {transform: translateX(0) rotate(180deg);}
}
@keyframes a4 {
  50% {transform: translateY(-100%) rotate(90deg); border-color: #EB92BE}
  100% {transform: translateY(0) rotate(180deg);}
}


/* main */
#hero {
  opacity: 0;
  display: none;
  transition: opacity 1s ease-in;
  min-width: 315px;
}

/* Navbar */
.navbar {
  position: fixed;
  background-color: transparent;
  padding: 15px 0;
  top: 0;
  left: 5px;
  right: 5px;
  border-radius: 10px;
  z-index: 999;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.navbar .inner-width {
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .inner-width .logo {
  width: 50px;
  height: 50px;
  background-image: url(../assets/img/navicon_logo_thanh.png);
  background-repeat: no-repeat;
  /* clip-path: circle(50% at 50% 50%); */
  background-size: cover;
  background-position: center;
}

.navbar .menu-toggler {
  background-color: rgba(0, 0, 0, 0);
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
  transition: 0.2s linear;
}

.navbar .menu-toggler span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: 0.1s linear;
  border-radius: 2px;
}

.navbar .menu-toggler span:last-child {
  transition: none;
}

.navbar .navbar-menu a {
  color: #fff;
  text-shadow: 0 1px 5px rgba(233, 69, 96, 0.4), 0 0 15px var(--secondary-color);
  font-size: 2rem;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.1s linear;
}

.navbar .navbar-menu a:hover {
  color: var(--red-color);
  text-shadow: none;
}

.sticky {
  background-color: var(--primary-color);
  padding: 6px 0;
}

.sticky .navbar-menu a {
  text-shadow: none;
}


/* home */
#home {
  height: 100vh;
  min-height: 500px;
  background: url(../assets/img/banner.jpg) top center / cover no-repeat;
}

#home .inner-width {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.6);
}

#home .content {
  width: 100%;
  color: #fff;
}

#home .content h1 {
  font-size: 6rem;
  font-weight: 500;
  text-shadow: 0 0 15px var(--primary-color);
  margin-bottom: 60px;
  outline: 1px rebeccapurple;
}

#home .content h1::after {
  content: "";
  animation: textanim 10s linear infinite;
}

@keyframes textanim {
  0% {
    content: "Hiii...!";
  }
  25% {
    content: "I'm Tipiti";
  }
  50% {
    content: "Xin chào! Hãy gọi tôi là Tipiti";
  }
  75% {
    content: "Chúc bạn một ngày tốt lành!";
  }
  100% {
    content: "Have a nice day!";
  }
}

#home .content .social-media a {
  color: #fff;
  font-size: 3rem;
  margin: 0 10px;
  transition:  0.2s linear;
}

#home .content .social-media a:hover {
  color: var(--red-color);
  transform: scale(1.1);
}

#home .button a {
  display: inline-block;
  margin: 30px 30px 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  width: 180px;
  border: 1px solid;
  padding: 14px 0;
  border-radius: 6px;
  transition: 0.2s linear;
  border-color: rgb(28, 195, 215);
}

#home .button a:hover {
  background-color: rgba(22, 33, 62, 1);
  color: var(--red-color);
  font-weight: 700;
  border-color: rgba(22, 33, 62, 1);
}


/* about */
#about .about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#about .about-content .about__picture {
  background: url(../assets/img/logo.jpg) center / cover no-repeat;
  width: 50vw;
  max-width: 200px;
  height: 50vw;
  max-height: 200px;
  clip-path: circle(50% at 50% 50%);
  margin: 20px 50px;
  align-self: flex-start;
}

#about .about-content .about__text {
  flex: 1 60%;
}

#about .about-content .about__text h2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.4;
}

#about .about-content .about__text p {
  font-size: 1.6rem;
  text-align: justify;
  line-height: 1.4;
  margin-top: 15px;
}

#about .about-content .about__text h3 {
  margin: 10px 0;
  color: var(--secondary-color);
  font-size: 2.2rem;
  font-weight: 600;
  font-style: italic;
}

#about .about-content .about__text h3 span:nth-child(1)::after,
#about .about-content .about__text h3 span:nth-child(2)::after {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: var(--red-color);
  border-radius: 50%;
  margin: 0 1rem;
}


/* contact */
.contact-infor {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-infor .item {
  width: calc(100%/3 - 20px);
  height: 160px;
  background-color: var(--secondary-color);
  color: #FFF;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s linear;
  padding: 30px;
  font-size: 2.4rem;
  margin: 10px 0;
}

.contact-infor .item:hover {
  opacity: 0.8;
  color: var(--red-color);
  scale: 1.2;
}

.contact-infor .item:hover i {
  animation: xoay 0.5s linear;
}

@keyframes xoay {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact-infor i {
  display: block;
  font-size: 3rem;
  line-height: 1.6;
  height: 60px;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  padding: 20px;
  color: #FFF;
  border-radius: 10px;
}

.contact-form input:hover,
.contact-form textarea:hover {
  opacity: 0.8;
}

.contact-form__name,
.contact-form__email {
  max-width: calc(50% - 20px);
}

.contact-form textarea {
  min-height: 100px;
  max-height: 250px;
  resize: vertical;
}

.contact-form .btn {
  width: 130px;
  height: 30px;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: transparent;
  color: var(--red-color);
  border: 2px solid;
  transition: 0.2s linear;
  font-style: italic;
  margin-left: auto;
}

.contact-form .btn:hover {
  border: 2px solid var(--red-color);
  cursor: pointer;
  opacity: 1.8;
  color: #fff;
  background-color: var(--red-color);
}


/* footer */
footer {
  background-color: var(--primary-color);
  color: #fff;
}

footer .inner-width {
  color: #fff;
  display: flex;
  padding: 10px 40px;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

footer .copyright {
  line-height: 2;
}

footer .copyright a {
  color: var(--red-color);
}

footer .social-media a {
  color: var(--red-color);
  font-size: 3rem;
  margin: 0 10px;
  transition:  0.2s linear;
}

footer .social-media a:hover {
  color: var(--red-color);
  transform: scale(1.1);
}

footer .social-media a {
  font-size: 2rem;
}