/* PC: width >= 1024px */
@media only screen and (min-width: 46.1875em) {
  body::-webkit-scrollbar {
    width: 4px;
  }

  body::-webkit-scrollbar-track {
    background-color: #2f97be5e;
  }

  body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 20px 10px var(--red-color);
    border-radius: 40px;    
  }

  body::-webkit-scrollbar:hover {
    width: 10px;
  }

  /* contact */
  .contact-infor {
    max-width: 900px;
    margin: 0 auto;
  }
  .contact-form {
    max-width: 900px;
    margin: 0 auto;
  }
}


/* tablet & mobile: width < 1024px */
@media only screen and (max-width: 63.9375em) {
  /* comon */
  html {
    font-size: 80%;
  }

  section:nth-child(n+4) {
    margin-top: -12rem;
    padding: 8rem 30px;
  }

  .section-title::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: var(--ligher-color);
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .section-title::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 6px;
    background-color: var(--red-color);
    bottom: -81px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 9px;
  }


  /* Navbar */
  .navbar .menu-toggler {
    display: block;
  }

  .navbar .navbar-menu {
    position: fixed;
    width: 60%;
    background-color: var(--secondary-color);
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    /* transition: 0.3 linear; */
    overflow-y: auto;
  }

  .navbar .navbar-menu a {
    display: block;
    font-size: 2.5rem;
    margin: 30px 0;
  }

  .sticky .navbar-menu {
    background-color: var(--secondary-color);
  }

  .navbar .navbar-menu.active {
    right: 5px;
    bottom: 5px;
    border-radius: 15px;
    transition: 0.2s ease;
  }

  .navbar .menu-toggler.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 9px;
  }
  
  .navbar .menu-toggler.active span:nth-child(3) {
    opacity: 0;
  }

  .navbar .menu-toggler.active span:nth-child(2) {
    transform: rotate(45deg);
  }

  /* Home */
  #home .content h1 {
    height: 100px;
    font-size: 3.4rem;
    padding: 0 10%;
  }

  /* contact */
  .contact-infor .item {
    font-size: 20px;
  }


}

/* tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  html {
    font-size: 70%;
  }

  .section-title::before {
    bottom: -4px;  
  }
  .section-title::after {
    bottom: -6px;  
  }

  /* footer */
  footer .inner-width {
    justify-content: space-around;
  }

  /* contact */

}


/* mobile: width < 739px */
@media only screen and (max-width: 46.1875em) {
  html {
    font-size: 80%;
  }
  
  .section-title::before {
    bottom: -3px;  
  }
  .section-title::after {
    bottom: -5px;  
  }

  section:nth-child(n+4) {
    margin-top: -9rem;
    padding: 6rem 30px;
  }

  /* about */
  #about .about-content .about__text h2 {
    line-height: 1;
    text-align: center;
  }

  #about .about-content .about__text p {
    text-align: left;
  }

  /* footer */
  footer .inner-width {
    justify-content: center;
    padding: 5px;
  }

  /* contact */
  .contact-infor .item {
    width: 100%;
    height: 100px;
    padding: 10px 5px;
    font-size: 2rem;
  }

  .contact-infor i {
    font-size: 2.4rem;
    height: 50px;
  }

  .contact-form__name,
  .contact-form__email {
    max-width: 100%;
  }

  .contact-form input, 
  .contact-form textarea {
    padding: 10px;
    font-size: 1.2rem;
  }

  .contact-form .btn {
    width: 180px;
    height: 40px;
    font-size: 1.4rem;
  }


}
